 body{
     overflow: hidden
 }
 
 .sideBar{
    display:flex;
    float:right;
    flex-direction: column;
    justify-content: center;
    height:100vh;
    background:black;
    
}

.body{
    position:absolute;
    top: 50%;left: 50%;
    transform:translate(-50%, -50%);
}

.main-img{
    width: 600px;
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);

}

.download{
    font-size: 1.2rem;
    padding: 10px;
    margin: 10px;
    background:none;
    outline: none;
    border: none;
    color: white;
    background:rgba(183, 0, 255, 0.596);
    border-radius:20px;
    transition:transform .05s linear;
}

.download:hover{
    cursor: pointer;
    transform:scale(1.1) rotate(2deg);
}